@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  text-decoration: none;
  font-size: 18px;
  z-index: 999;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  z-index: 99;
}

.navbar-fixed-top {
  position: fixed;
  top: 0px;
}

/*nav*/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.001px solid rgba(180, 180, 180, 0.13);
  text-decoration: none;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  z-index: 99999;
}

.nav_positions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 60%;
  height: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo_small_left img {
  position: absolute;
  top: -7px;
  left: 20px;
  width: 70px;
  height: auto;
  text-decoration: none;
}

.menu {
  position: relative;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
  list-style-type: none;
}

.sliding-line {
  height: 2px;
  background: #ff5e00;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.active a {
  color: white !important;
}

#example-one a {
  color: #bbb;
  font-size: .875rem;
  float: left;
  padding: 6px 10px 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  overflow: hidden;
  padding: 30px 15px;
}

#example-one li {
  width: auto;
  overflow: hidden;
  margin-right: 0px;
  display: inline-block;
}

#example-one li:nth-child(6) {
  margin-left: -4px;
}

.rotate:hover {
  -webkit-animation-name: rotate_settings;
          animation-name: rotate_settings;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotate_settings {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate_settings {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#example-one li:nth-child(5) {
  border-left: 0.001px solid rgba(180, 180, 180, 0.13);
  border-right: 0.001px solid rgba(180, 180, 180, 0.13);
}

#example-one li:nth-child(6) {
  border-right: 0.001px solid rgba(180, 180, 180, 0.13);
}

.last {
  margin: 0;
}

#example-one {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  height: 80px;
  overflow: hidden;
  font-size: .875rem;
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

*:first-child + html .group {
  zoom: 1;
}

.navbar-fixed-top.scrolled {
  background-color: rgba(31, 36, 47, 0.7) !important;
}

.navbar-fixed-top.scrolled .nav-link {
  color: #555;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

/*mobile menu*/
/*konec mobile menu*/
/*konec nav*/
/* styl sekce pro vsechny sekce*/
.section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  z-index: -1;
}

/*section 1*/
.section1 {
  background: url(../design.svg);
}

.section3 {
  background: url(../design.svg);
}

.section5 {
  background: url(../design.svg);
}

.content-middle {
  position: relative;
  top: 30px;
  width: 70%;
  height: 80%;
  background: rgba(255, 0, 0, 0.103);
  display: inline-block;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  position: relative;
  top: 0px;
  width: 40%;
  height: 100%;
  left: 0;
  display: inline-block;
  margin: 0;
  padding-top: 0px;
  z-index: 4;
}

.name span {
  position: relative;
  top: 100px;
  width: 100%;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 60px;
  padding-left: 10px;
  font-size: 150px;
  text-align: justify;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  font-family: "Sofia Pro",sans-serif;
}

/*aside*/
#aside_pc_nav {
  position: fixed;
  top: 50%;
  right: -340px;
  width: 250px;
  height: auto;
  background-color: rgba(22, 22, 22, 0.7);
  z-index: 99999;
  list-style-type: none;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: .8125rem;
  -webkit-transform: translate(calc(75px - 100%), -50%);
          transform: translate(calc(75px - 100%), -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: -1;
}

#aside_pc_nav:hover {
  right: -200px;
}

#aside_pc_nav:hover .content_aside li {
  position: relative;
  left: 0px;
  margin: 0px;
  width: 50%;
  height: auto;
  padding: 15px;
  margin-left: 28px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.137);
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Oswald",sans-serif;
  font-size: .8125rem;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #acacac60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#aside_pc_nav .content_aside li {
  position: relative;
  left: 0px;
  margin: 0px;
  width: 0px;
  height: auto;
  padding: 15px;
  margin-left: 28px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.137);
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Oswald",sans-serif;
  font-size: .8125rem;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #acacac60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content_aside li:hover {
  color: white !important;
}

.content_aside li:hover span {
  color: white !important;
}

.active_aside {
  border-bottom: 1px solid red !important;
  color: white !important;
}

.name_of_category {
  position: absolute;
  left: 80px;
  color: red;
  color: #acacac60;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: .8125rem;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

/*mobile*/
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .logo_small_left img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: auto;
    text-decoration: none;
  }
  .nav_positions {
    width: 90%;
  }
  #navbar {
    top: 0;
    height: 70px;
  }
  .section1 {
    color: red;
  }
  .name span {
    position: relative;
    top: 40px;
    width: 100%;
    left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 15px;
    padding-left: 0px;
    text-align: justify;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    font-family: "Sofia Pro",sans-serif;
    font-size: 70px;
  }
  #aside_pc_nav {
    display: none;
  }
}

/*konec mobile*/
/*# sourceMappingURL=main.css.map */