@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
  list-style-type: none;
}

/*mobile*/
@media (max-width: 768px) {
  html{
    overflow: scroll;
    
  }  

  html.active{
    overflow: hidden;
  } 
  
  body {
      background: white;
    }
    .content-middle {
      width: 100%;
      overflow: hidden;
      top: 4px;
    }
    .video_intro_position {
      position: absolute;
      bottom: 40px;
      width: 100%;
      height: 50%;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto;
      padding-top: 0px;
      z-index: 4;
      padding: 0;
      background: none;
    }
    .video {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: auto;
    }
    .video video {
      border-radius: 25%;
    }
    .menu {
      display: none;
    }
    .logo_small_left img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 50px;
      height: auto;
      text-decoration: none;
      -webkit-animation: none;
              animation: none;
    }
    .nav_positions {
      width: 90%;
    }
    #navbar {
      top: 0;
      height: 70px;
    }
    .section1 {
      color: red;
    }
    span.webmove {
      background: transparent !important;
      width: 100% !important;
      -webkit-transition: 800ms;
      transition: 800ms;
    }
    span.for {
      background: transparent !important;
      width: 100% !important;
      -webkit-transition: 800ms;
      transition: 800ms;
    }
    span.future {
      background: transparent !important;
      width: 100% !important;
      -webkit-transition: 800ms;
      transition: 800ms;
    }
    .name {
      width: 100%;
      height: 89%;
    }
    .name span {
      position: relative;
      top: 40px;
      width: 100%;
      left: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0px;
      padding: 15px;
      padding-left: 0px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      color: white;
      font-family: "Sofia Pro",sans-serif;
      font-size: 40px;
    }
    span.webmove_number {
      font-size: 12px;
      margin-left: 0px;
      padding: 0;
      color: rgba(184, 184, 184, 0.575);
      letter-spacing: 8px;
      font-weight: 300;
    }
    #links {
      display: none;
    }
    #aside_pc_nav {
      display: none;
    }
    .content-middle {
      background: rgba(13, 89, 177, 0.589);
    }
    .section1 {
      background: url(../design.png);
    }
    #b {
      color: white !important;
    }
    .webmove_number {
      color: rgba(0, 0, 0, 0.507) !important;
      font-weight: 900 !important;
    }
    /*mobile menu*/
    .mobile_menu {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin: 0;
      height: auto;
      -webkit-box-pack: right;
          -ms-flex-pack: right;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      
              
    }
    .toggle {
      padding: 8px;
      width: 32px;
      height: 32px;
      margin: 0;
      background: #6089e2;
      border-radius: 7px;
      -webkit-box-shadow: 3px 2px 99px 18px #34399e;
              box-shadow: 3px 2px 99px 18px #34399e;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              cursor: pointer;
              overflow: hidden;
              z-index: 8001;
             
          
              
    }

    .toggle span{
      position: absolute;
      width: 29px;
      height: 4px;
      background-color: #dfdfdf;
      border-radius: 4px;
      display: flex;
      margin: 1px;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      
    }


 


    .toggle span:nth-child(1){
      transform: translateY(-11px);
      width: 20px;
      margin-right:10px ;
    }

    .toggle span:nth-child(2){
      transform: translateY(11px);
      width: 15px;
      margin-right:12px ;
    }

    .toggle.active span:nth-child(3){
      transform: translateY(47px) translateX(-262px);
      width: 280px;
      transition: 1.4s;
  
    }

   

  

  

    .toggle.active span:nth-child(1){
      width: 29px;
      transform: translateY(0px) rotate(45deg);
      transition-delay: 0.125s;
    }

    .toggle.active span:nth-child(2){
      width: 29px;
      transform: translateY(0px) rotate(315deg);
      transition-delay: 0.25s;
    }

    .toggle.active.toggle{
     background: #34399e00;
     box-shadow: none;
    }


    .menu_mobile_onclick{
      position: absolute;right: -1140px;top: 80px;
      width: 50%;
      height: 50%;
      background-color: red;
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    


    .menu_mobile_onclick.active{
      transform: translateY(0px);
      position: absolute;right: 40px;top: 80px;
      width: 281px !important;
      height: 300px;
      background-color: rgba(29, 29, 36, 0.753);
      backdrop-filter: blur(16px);
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 5px 5px 10px;
      flex-direction: column;
    }


    .menu_mobile_onclick.active li{
      margin: 20px;
      filter: blur(0px);
    }
    .menu_mobile_onclick.active a{
      font-weight: 600;
      filter: blur(0px);
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
    }

    /*mobile menu*/
  }
  
  /*konec mobile*/
  /*# sourceMappingURL=responsive_mobile.css.map */